@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
.mainTitle {
  font-family: "Cardo", serif;
}
.tablet {
  display: none;
}
.mobile {
  display: none;
}
.pc {
  display: block;
}
@keyframes focus {
  from {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #362323;
    color: #362323;
  }
  to {
    background-color: #362323;
    border: 1px solid #362323;
    color: #fff;
  }
}
:root {
  --fontColor: #262626;
  --fontColorGray: #5c5441;
  --whiteColor: #fff;
  --mainColor: #d94b19;
  --subColor_01: #f2af5e;
  --subColor_02: #f1e2c3;
  --subColor_03: #81a6c0;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  color: var(--mainColor);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--fontColor);
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: var(--fontColor);
}
p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: var(--fontColor);
  font-family: "Noto Sans KR", sans-serif;
}
.textLarge {
  font-size: 18px;
  font-weight: 400;
  color: var(--fontColor);
  font-family: "Noto Sans KR", sans-serif;
}

.textMedium {
  font-size: 14px;
  line-height: 25px;
  color: var(--fontColor);
}
.textSmall {
  font-size: 12px;
  line-height: 25px;
  color: var(--fontColor);
}

.semiTitle {
  margin-top: 12px;
}
.title {
  font-size: 96;
  opacity: 0.2;
  font-weight: 700;
}
span {
  font-weight: 700;
}

// *타블렛
@media all and (min-width: 768px) and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .mobile {
    display: none;
  }
  .tablet {
    display: block;
  }
  h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--mainColor);
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--fontColor);
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--fontColor);
  }
  p {
    font-size: 13px;
    line-height: 25px;
    font-weight: 300;
    color: var(--fontColor);
    font-family: "Noto Sans KR", sans-serif;
  }
  .textLarge {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: var(--fontColor);
    font-family: "Noto Sans KR", sans-serif;
  }

  .textMedium {
    font-size: 13px;
    line-height: 23px;
    color: var(--fontColor);
  }
  .textSmall {
    font-size: 11px;
    line-height: 20px;
    color: var(--fontColor);
  }
  .semiTitle {
    margin-top: 12px;
  }
  .title {
    font-size: 48px;
    opacity: 0.2;
    font-weight: 700;
  }
  span {
    font-weight: 700;
  }
}

// *모바일
@media all and (max-width: 768px) {
  .pc {
    display: none;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
    color: var(--mainColor);
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--fontColor);
  }

  h3 {
    font-size: 17px;
    font-weight: 400;
    color: var(--fontColor);
  }
  p {
    font-size: 13px;
    font-weight: 300;
    line-height: 23px;
    font-family: "Noto Sans KR", sans-serif;
  }
  .textLarge {
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    color: var(--fontColor);
    font-family: "Noto Sans KR", sans-serif;
  }

  .textMedium {
    font-size: 12px;
    line-height: 20px;
    color: var(--fontColor);
  }
  .textSmall {
    font-size: 9px;
    line-height: 15px;
    color: var(--fontColor);
  }
  .lineBlack {
    width: 78px;
    border-bottom: 1px solid #362323;
    margin-top: 15px;
  }
  .title {
    font-size: 48px;
    opacity: 0.2;
    font-weight: 700;
  }
  span {
    font-weight: 700;
  }
}
